/*首页的样式*/
.main {
	width: 980px;
	height: 455px;
	margin: 10px 0 0 219px;
}
.focus {
	position: relative;
	width: 720px;
	height: 455px;
	background-color: purple;
}
.arrow-l,
.arrow-r {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	width: 24px;
	height: 40px;
	background: rgba(0, 0, 0, .3);
	font-family: icomoon;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
}
.arrow-r {
	right: 0;
}
.circle {
	position: absolute;
	bottom: 10px;
	left: 50px;
}
.circle li {
	float: left;
	width: 8px;
	height: 8px;
	/*background-color: #fff;*/
	border: 2px solid rgba(255, 255, 255, .7);
	margin: 0 3px;
	border-radius: 50%;
	/*鼠标经过变成小手*/
	cursor: pointer;
}
.current {
	background-color: #fff;
}
.newsflash {
	width: 250px;
	height: 455px;
}
.news {
	height: 163px;
	border: 1px solid #ccc;
}
.lifeservice {
	overflow: hidden;
	height: 208px;
	border: 1px solid #ccc;
	border-top: none;
}
.lifeservice ul {
	width: 252px;
}
.lifeservice li {
	position: relative;
	float: left;
	width: 62px;
	height: 70px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.lifeservice li a {
	/*a是行内元素，转换为块级元素后，宽度和父级一样*/
	display: block;
	/*解决i引起的外边距塌陷合并的问题：嵌套块元素当父元素没有上内边距和边框时，父元素的上外边距会和子元素的上外边距合并，取最大的*/
	overflow: hidden;
	height: 100%;
}
.lifeservice li p {
	text-align: center;

}
.service_ico {
	/*i是行内元素，没有大小*/
	display: block;
	width: 24px;
	height: 24px;
	background: url(../images/icons.png) no-repeat;
	margin: 10px auto;
}
.service_ico_huafei {
	background-position: -17px -16px;
}
.service_ico_jipiao {
	width: 26px;
	background-position: -78px -16px;
}
.service_ico_dianyingpiao {
	background-position: -17px -16px;
}
.service_ico_youxi {
	background-position: -17px -16px;
}
.service_ico_caipiao {
	background-position: -17px -16px;
}
.service_ico_jiayouka {
	background-position: -17px -16px;
}
.service_ico_jiudian {
	background-position: -17px -16px;
}
.service_ico_huochepiao {
	background-position: -17px -16px;
}
.service_ico_zongchou {
	background-position: -17px -16px;
}
.service_ico_licai {
	background-position: -17px -16px;
}
.service_ico_lipinka {
	background-position: -17px -16px;
}
.service_ico_baitiao {
	background-position: -17px -16px;
}
.hot {
	position: absolute;
	top: 0;
	right: 0;
	width: 12px;
	height: 16px;
	background: url(../img/jian.jpg);
}
.bargin {
	margin-top: 5px;
	height: 75px;		
}
.news_hd {
	height: 32px;
	padding: 0 15px;
	font-size: 14px;
	line-height: 32px;
	border-bottom: 1px dotted #ccc;
}
.news_hd a {
	float: right;
	font-family: icomoon;
	font-size: 12px;
}
.news_bd {
	padding: 10px 0 0 15px;
}
.news_bd li {
	height: 23px;
}
.recommend {
	height: 163px;
	margin-top: 10px;
}
.recom-hd {
	width: 200px;
	height: 163px;
	background-color: #5c5251;
	text-align: center;
}
.recom-hd img {
	margin: 30px 0 10px 0;
}
.recom-hd h3 {
	font-size: 18px;
	color: #fff;
	font-weight: normal;
}
.recom-bd {
	width: 1000px;
	height: 163px;
	background-color: #ebebeb;
}
.recom-bd li {
	float: left;
	width: 249px;
	height: 145px;
	border-right: 1px solid #ccc;
	margin-top: 10px;
}
.recom-bd .last {
	border-right: 0;
}
.box-hd {
	height: 30px;
	border-bottom: 2px solid #c81623;
	margin-top: 25px;
}
.box-hd h3 {
	float: left;
	font-size: 18px;
	color: #c81623;
}
.tab_list {
	line-height: 30px;
	float: right;
}
.tab_list li {
	float: left;
}
.tab_list li a {
	margin: 0 15px;
}
.box-bd {
	height: 360px;
}
.box-bd li {
	overflow: hidden;
}
.box-bd img {
	transition: all 0.2s;
}
/* 鼠标经过图片时，图片向右走8px */
.box-bd img:hover {
	margin-left: 8px;
}
.w209 {
	width: 209px;
	background-color: #f9f9f9;
}
.w329 {
	width: 329px;
}
.w219 {
	width: 219px;
	border-right: 1px solid #ccc;
}
.w220 {
	width: 220px;
	border-right: 1px solid #ccc;
}
.tab-con li {
	float: left;
	height: 360px;
}
.tab-con-item {
	border-bottom: 1px solid #ccc;
}
.tab-con-list  {
	/* 这个父盒子没给高度，而里面的li是浮动的，父盒子高度为0，清除浮动后，父级会根据浮动的子盒子自动检测高度 */
	overflow: hidden;
	margin-bottom: 10px;
}
.tab-con-list li {
	width: 86px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	margin: 0 9px;
	border-bottom: 1px solid #ccc;
}
.tab-con-list a {
	font-size: 12px;
	color: #666;
} 
.fixedtool {
	/* 侧边栏固定定位位置的算法 */
	position: fixed;
	top: 100px;
	left: 50%;
	margin-left: -676px;
	width: 66px;
	display: none;
}
.fixedtool li {
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}
.fixedtool .current {
	background-color: #c81623;
	color: #fff;
}