.shortcut .fl p {
    font-size: 13px;
}

.shortcut .fl p a:nth-child(1):hover {
    color: #c81623;
}

.shortcut .fl p a:nth-child(2) {
    color: #c81623;
}

.shortcut .fr li {
    margin-left: 8px;
}

.shortcut .fr li a:hover {
    color: #c81623;
}

.place {
    width: 1px;
    height: 11px;
    background-color: #666;
    margin-top: 10px;
}

.sk {
    position: absolute;
    top: 50px;
    left: 195px;
    height: 32px;
    border-left: 2px solid #c81623;
    padding: 5px 0 0 20px;
}

.search input {
    float: left;
    width: 445px;
    height: 32px;
    border: 2px solid #c81623;
    padding-left: 5px;
    color: #ccc;
}

.search button {
    float: left;
    width: 80px;
    height: 36px;
    background-color: #c81623;
    color: #FFF;
    font-size: 14px;
    border: none;
}